@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&family=Pacifico&family=Playwrite+IT+Moderna:wght@100..400&family=Spicy+Rice&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: 'Libre Baskerville'; 
}
body {
   font-family: 'Libre Baskerville'; 
  background: #fdfaf5;
  color: #333;
}

.logo-img img {
    width: 40%;
    padding-left: 43px;
} 

 header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 73px;
      background-color: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(6px);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      z-index: 1000;
      border-bottom: 1px solid #ddd;
    }

header input[type="text"] {
  flex: 1;
  max-width: 400px;
   margin-left: 5px;   /* tira margem esquerda */
  margin-right: 100px;
  padding: 0.5rem;
  border-radius: 15px;
  border: 1px solid #ccc;
}

/* botao CEP */
/* From Uiverse.io by nikk7007 */ 
.bubbles {
  --c1: #212121; /* Recommendation: same background color */
  --c2: #f7bd6d;
  --size-letter: 15px;
  padding: 0.5em 1em;
  font-size: var(--size-letter);

  background-color: transparent;
  border: calc(var(--size-letter) / 6) solid var(--c2);
  border-radius: 0.4em;
  cursor: pointer;

  overflow: hidden;
  position: relative;
  transition: 300ms cubic-bezier(0.83, 0, 0.17, 1);
}

.bubbles > .text {
  font-weight: 700;
  color: var(--c2);
  position: relative;
  z-index: 1;
  transition: color 700ms cubic-bezier(0.83, 0, 0.17, 1);
}

.bubbles::before {
  top: 0;
  left: 0;
}

.bubbles::after {
  top: 100%;
  left: 100%;
}

.bubbles::before,
.bubbles::after {
  content: "";
  width: 150%;
  aspect-ratio: 1/1;
  scale: 0;
  transition: 1000ms cubic-bezier(0.76, 0, 0.24, 1);

  background-color: var(--c2);
  border-radius: 50%;

  position: absolute;
  translate: -50% -50%;
}

.bubbles:hover {
  & > span {
    color: var(--c1);
  }
  &::before,
  &::after {
    scale: 1;
  }
}

.bubbles:active {
  scale: 0.98;
  filter: brightness(0.9);
}


/* boato CEP */



  nav {
      position: fixed;
      top: 73px;
      left: 0;
      width: 100%;
      background: #feebd7d1;
      padding: 0.5rem;
      display: flex;
      justify-content: center;
      gap: 2rem;
      border-bottom: 1px solid #eee;
      z-index: 999;
    }

.btn-nav {
  color: #f7bd6d;
  text-decoration: none;
  font-size: 20px;
  border: none;
  background: none;
  font-weight: 600;
}

.btn-nav::before {
  margin-left: auto;
}

.btn-nav::after,.btn-nav::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #fcb045;
  display: block;
  transition: 0.5s;
}

.btn-nav:hover::after, .btn-nav:hover::before {
  width: 100%;
}


aside {
      position: fixed;
      top: 130px;
      left: 0;
      z-index: 998;
      width: 60px;
      background-color: #fdf1e4;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 0;
      gap: 20px;
      height: calc(100vh - 130px);
      box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }
    aside a {
      text-decoration: none;
      font-size: 20px;
      transition: transform 0.2s ease;
    }
    aside a:hover {
      transform: scale(1.2);
      cursor: pointer;
    }

  main {
      margin-left: 60px;
      padding-top: 120px; /* Espaço para header (73px) + nav (~47px) */
      display: flex;
      flex-direction: column;
    }



/* Painel lateral */
.painel-lateral {
  position: fixed;
  top: 0;
  right: -100%;
  width: 320px;
  height: 100%;
  background: white;
  box-shadow: -4px 0 12px rgba(0,0,0,0.1);
  padding: 1rem;
  transition: right 0.3s ease;
  z-index: 1000;
}
.painel-lateral.ativo {
  right: 0;
}

.banner {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .tamanho-video {
      width: 100%;
      height: 600px;
      position: relative;
      overflow: hidden;
    }

    .tamanho-video video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    .overlay-degrade {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, #fdd7a183, #fadeb678, #fae6ca5c, transparent);
      z-index: 2;
    }

    .conteudo-video {
      position: absolute;
      top: 50%;
      left: 5%;
      transform: translateY(-50%);
      z-index: 3;
      color: white;
      font-family: sans-serif;
    }

    #texto-digitado {
      font-size: 2.5rem;
      white-space: nowrap;
      border-right: 2px solid white;
      overflow: hidden;
    }

/* Responsividade */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  main {
    margin-left: 0;
  }
  aside {
    display: none;
  }
}